<!DOCTYPE html>
<html lang="en" class="html-background">

<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= name %>
  </title>
  <link rel="icon apple-touch-icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://use.typekit.net/dgm5vxf.css">
</head>

<body>
  <!-- Display a message if JS has been disabled on the browser. -->
  <noscript>If you're seeing this message, that means <strong>JavaScript has been disabled in your browser</strong>,
    please <strong>enable JS</strong> to make this app work.</noscript>
  <div id="root"></div>
</body>

</html>